/*anything that is not specified below will look the same as in main.css:*/

@import url(main.css);

/*The fontstyle resembles the blackletter, that was common during Gutenberg's lifetime*/
/*Margin/Text: Golden Ratio*/

main {
  @font-face {
    font-family: UnifrakturMaguntia;
    src: url(https://fonts.google.com/specimen/UnifrakturMaguntia);
    /*did not figure out how to get the .woff yet*/
    margin-left: ;
    margin-right:;
  }
}

p {
  font-size: ;
  text-align:justify;
}

blockquote {
font-size: ;
font-weight: bolder;
text-align: justify;
}
