

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
    background-color: #2d2b28;
    width: 100%;
    padding: 0px;
  }
  
  .grid-item {
    background-color: #E5D4A0;
    padding: 5px;
    font-size: 9px;
  }
  
  .item1 {
    grid-column: 1;
    grid-row: 1  / span 5;
  }
  
  .item2 {
    grid-column: 1;
    grid-column: 2 / span 3;
  }
  
  .item3 {
    grid-column: 2;
    grid-row: 2 / span 3;
  }
  
  .item4 {
    grid-column: 3;
    grid-row: 2 / span 3;
  }
  
  .item5 {
    grid-column: 4;
    grid-row: 2 / span 3;
  }
  
  
  .item6 {
    grid-column: 2 / span 3;
    grid-column: 2 / span 3;
  }

body {
    background-color:#E5D4A0;
    font-family: inherit;
    margin-top: 20px; 
    margin-bottom: 50px;
    padding-top: 20px;
    
  }

  .stylemenu {
    background-color: #ede1be;
    border-color : black ;
    border-style : solid ;
    border-width: 3;
    padding-left: 10em;
    padding-top: 10em;

  }


  .mrd-2 {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    color:#2d2b28;
    text-align: center;

  }


  .mrd-1{
  font-size: 1vw;
  font-family: 'IBM Plex Serif';
  font-style: bolder;
  font-weight: 40;
  color:black;
  text-align: left;

  }

  .custom-t1 {
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    float: left;
  
  }

  .custom-t2 {
    float: left;
    margin: 0.3em 0.2em 0.3em 0.1em;
    font-size: 2.3vw;
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-top: 4px dotted rgb(93, 93, 95);
    
  }


  .custom-t3 {
    font-size: 2vw;
    font-family: 'Calibri';
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
   
    
    
  }

  .custom-t4 {
    font-size: 2vw;
    font-family: 'Arial Black';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 90%;
    border-color : rgb(70, 67, 67) ;
    border-style : dashed ;
    border-width: 2px;
    letter-spacing: 3px
        
  }


p {
  font-family: 'Libre Bodoni';
  color:rgb(1, 2, 2);
  text-align: justify;  
}

  .p1 {
  font-size: 0.8vw;
  font-family: 'PT Serif', serif;
  font-style: oblique;
  color:black;
  text-align: left;  
  border-color : rgb(10, 9, 9) ;
  border-style : solid ;
  border-width: 4px;
      
}

  .p2 {
  font-size: 1vw;
  font-family: 'Arial Black';
  font-stretch: 8;
  color:rgb(1, 2, 2);
  text-align: center; 
  text-transform: uppercase; 
  border-color : black ;
  border-style : solid;
  border-width: 2px;
  letter-spacing: 3px
    
}

  .p3 {
  font-size: 1.5vw;
  font-family: 'Verdana';
  font-style: bolder;
  text-decoration: overline;
  color:rgb(1, 2, 2);
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 3px
    
}

  .blockquote {
  font-size: 10;
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-style: bolder;
  text-align: center;
  
}

  .pullquote {
  font-size: 5;

}

img {
  max-width: 100%;
  
}

  .sepia {
  filter: sepia(100%);
  
}

  .custom-img {
  border-radius: 50%;
  filter: sepia(100%);
  align-self: center;
 
}
