@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
:root {
    scroll-behavior: smooth;

  }

  body {
    color: rgba(var(--color-primary-rgb), 1);
    background-image:url(https://images.unsplash.com/photo-1612487528505-d2338264c821?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover; 
  }
  
  a {
    color: var(--color-links);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-links-hover);
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Limelight', cursive !important;
    color:whitesmoke;
  }
  .grid-container .grid-item.item2{
    padding: 20px;
  }
  #main {
    margin-top: 90px;
  }
  
  /*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
  section {
    padding: 40px 0;
    overflow: hidden;
  }
  
  
  
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .scroll-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  .scroll-top:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    color: #fff;
  }
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Page title
  --------------------------------------------------------------*/
  .page-title {
    font-size: 70px;
    color: var(--color-black);
  }
  
  /* Form Input Fieldds */
  .form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-black);
  }
  
  .btn:active, .btn:focus {
    outline: none;
  }
  .btn.btn-primary {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
  }
  .header.sticked {
    height: 70px;
  }
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
  }
  
  
  
  section {
    scroll-margin-top: 70px;
  }
  
  /*--------------------------------------------------------------
  # Desktop Navigation 
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    .navbar li {
      position: relative;
    }
    .navbar a, .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: 'Limelight', cursive;
      font-size: 16px;
      font-weight: 500;
      color: rgba(var(--color-default-rgb), 1);
      white-space: nowrap;
      transition: 0.3s;
    }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
      color: var(--color-default);
    }
    .navbar .getstarted, .navbar .getstarted:focus {
      background: var(--color-primary);
      padding: 8px 20px;
      margin-left: 30px;
      border-radius: 4px;
      color: var(--color-white);
    }
    .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
      color: var(--color-white);
      background: rgba(var(--color-primary-rgb), 0.8);
    }
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: var(--color-white);
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 4px;
    }
    .navbar .dropdown ul li {
      min-width: 200px;
    }
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      font-weight: 400;
    }
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
      color: var(--color-primary);
    }
    .navbar .dropdown:hover > ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    .navbar .dropdown .dropdown:hover > ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  .mobile-nav-toggle {
    display: none;
  }
  
  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      padding: 0;
      z-index: 9997;
    }
    .navbar ul {
      display: none;
      position: absolute;
      inset: 55px 15px 15px 15px;
      padding: 10px 0;
      margin: 0;
      border-radius: 10px;
      background-color: var(--color-white);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
    .navbar a, .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: 'Limelight', cursive;
      font-size: 15px;
      font-weight: 600;
      color: var(--color-primary);
      white-space: nowrap;
      transition: 0.3s;
    }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
      color: var(--color-primary);
    }
    .navbar .dropdown ul, .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background: var(--color-white);
      transition: all 0.5s ease-in-out;
      box-shadow: 0px 0px 30px rgba(var(--color-black-rgb), 0.1);
    }
    .navbar .dropdown > .dropdown-active, .navbar .dropdown .dropdown > .dropdown-active {
      display: block;
    }
  
    .mobile-nav-toggle {
      display: inline-block;
      color: var(--color-secondary);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
    }
    .mobile-nav-toggle.bi-x {
      color: var(--color-black);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
    .mobile-nav-active .mobile-nav-toggle {
      position: fixed;
      top: 15px;
      right: 15px;
      z-index: 9999;
      color: var(--color-white);
    }
    .mobile-nav-active .navbar {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(var(--color-black-rgb), 0.6);
      transition: 0.3s;
    }
    .mobile-nav-active .navbar > ul {
      display: block;
    }
  }
  /*--------------------------------------------------------------
  # Posts
  --------------------------------------------------------------*/
.grid-container
{
background-color:rgba(var(--color-black-rgb), 1);
color: goldenrod;
font-size: 20px;
font-family:'Poiret One', cursive;

}


  /* custom tab nav on sidebar */
  .single-post-content .container .row .single-post{
    max-width:70% !important;
    position: relative;
    height: 100vh !important;
    overflow-y: scroll;
  
    
  } 
  .single-post-content .container .row .single-post img{
    max-width: 80% !important;
  
  } 
  .single-post-content .container .row .aside-block-container{
    max-width:30% !important
    
    
  } 

  .image-wrapper.article1-img1{
    display:flex;
    justify-content: center;
    padding: 10px;
  } 
  
  .aside-block .custom-tab-nav .nav-item {
    display: inline-block;
    margin-right:4%;
  
  }
  .aside-block .custom-tab-nav .nav-item button {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border: 2px goldenrod;
  }
  .aside-block {
    background-color:rgba(var(--color-black-rgb), 0.5) ;
    font-family:'Limelight', cursive;
    color: rgba(var(--color-white-rgb), 0.8) !important;
  }
  .aside-block h3{
    color:goldenrod !important
  }
  .aside-block .custom-tab-nav .nav-item button.active {

    color: var(--color-black);
  }
  .aside-block h3.aside-title {
    font-family: 'Limelight', cursive;
    font-size:16px;
  }
  .aside-block.metadata .aside-tags{
  display: flex;
  flex-direction: column;
}

  .aside-links li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1); */
  }
  .aside-links li a {
    display: block;
    color: rgba(var(--color-white-rgb), 0.8) !important;
  }
  .aside-links li a:hover, .aside-links li a:focus {
    color: rgba(var(--color-white-rgb), 0.8) !important;
  }
  
  .aside-tags li {
    display: inline-block;
  }
  .aside-tags li a {
    display: inline-block;
    color: rgba(var(--color-white-rgb), 0.8) !important;
    padding: 7px 10px;
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
    margin-bottom: 3px;
    transition: 0.3s all ease;
    font-family: 'Poiret One', cursive;

  }
  .aside-tags li a:hover, .aside-tags li a:focus {
    color: rgba(var(--color-white-rgb), 0.8) !important;
    border: 1px solid rgba(var(--color-black-rgb), 0.5);

  }
  .aside-block .custom-tab-nav .nav-item .nav-link .aside-title{
    font-family: 'Limelight', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  .nav-pills .nav-link.active{
    background-color: transparent !important;
  }
  
  
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    overflow: hidden;
    background: rgba(var(--color-black-rgb), 0.9);
    font-size: 16px;
    color: rgba(var(--color-white-rgb), 0.7);
  }
  .footer .footer-content {
    padding: 60px 0;
  }
  .footer a.footer-link-more {
    color: rgba(var(--color-white-rgb), 0.7);
    display: inline-block;
    position: relative;
  }
  .footer a.footer-link-more:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--color-white);
  }
  .footer a.footer-link-more:hover {
    color: rgba(var(--color-white-rgb), 1);
  }
  .footer .footer-heading {
    color: var(--color-white);
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .footer .footer-blog-entry li {
    margin-bottom: 20px;
    display: block;
  }
  .footer .footer-blog-entry li a .post-meta {
    font-size: 10px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Limelight', cursive;
    color: rgba(var(--color-white-rgb), 0.4);
    margin-bottom: 0px;
  }
  .footer .footer-blog-entry li a img {
    flex: 0 0 50px;
    width: 50px;
  }
  .footer .footer-links li {
    margin-bottom: 10px;
  }
  .footer .footer-links li a {
    color: rgba(var(--color-white-rgb), 0.7);
  }
  .footer .footer-links li a:hover, .footer .footer-links li a:focus {
    color: rgba(var(--color-white-rgb), 1);
  }
  .footer .footer-legal {
    background: var(--color-black);
    padding: 40px 0;
  }
  .footer .footer-legal .social-links a {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--color-white-rgb), 0.09);
    border-radius: 50%;
    color: var(--color-white);
    line-height: 40px;
  }
  .footer .footer-legal .social-links a:hover {
    background-color: rgba(var(--color-white-rgb), 0.2);
  }
  .footer .copyright strong {
    font-weight: 400;
  }
  .footer .credits {
    padding-top: 6px;
    font-size: 13px;
  }
  .footer .credits a {
    color: var(--color-white);
  }