
body {
    background-color: #ffffff;
    margin-top: 30px; 
    margin-bottom: 30px;
    padding-top: 50px;
    padding-left: 100px; 
    padding-right: 100px; 
  }

  p {
    background-color: #ffffff;
    font-family: 'Times New Roman';
    color:rgb(1, 2, 2);
    text-align: left; 

  }
 
  
  .mrd-2 {
    font-size: 4em;
    font-family: 'Pacifico', cursive;
    color: #000;
    text-align: center;
     
        
  }

  .mrd-1 {

    font-size: 2.2em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center; 
    border-bottom: 1px solid #7665ad;
    margin-bottom: 20px;
    background-color: #ffffff;
  
  }

  .md-violet {

    color: #7665ad;    
  
  }

  .inside {
    background-color: #ffffff;
    column-count: 2;
     
  }
/* Style that first letter! */

.firstletter {
    color: #7665ad; 
    float: left;
    margin: 0.3em 0.2em 0.3em 0.1em;
    font-family: 'Oswald', sans-serif;
    font-size: 16vw;
    font-style: oblique;
    text-shadow: 2px 2px 5px #000;
    line-height: 60px;
    padding: auto;
    
  }

img {
    max-width: 100%;
        
  }

  .custom-img {
    max-width: 60%;
    border-radius: 50%;
    float: left; padding: 15px 15px 15px 15px; 
    shape-outside: circle(50%);
    -webkit-shape-outside: circle(50%);
    shape-margin: 10px;
    -webkit-shape-margin: 10px;
  }



  .blockquote {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-style: bolder;
    border-bottom: 1px solid #7665ad;
    
  }
  
  .pullquote {
    font-size: 5;
  
  }
 
  .stylemenu {
    background-color: #d1d4da;
    font-family: 'Oswald', sans-serif;
    border-color : #7665ad ;
    border-style : solid ;
    border-width: 3;

  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

