
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;

}


body {
  color: rgba(var(--color-primary-rgb), 1);
  background-color: #d1d4da;
  display:flex; 
  flex-direction:column; 
  min-height: 100vh;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

#main {
  margin-top: 5%;
}
.disclaimer.main{
  height:100%

}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
  min-height:max-content;
}

.section-header {
  border-bottom: 2px solid var(--color-black);
}

.section-header h2 {
  font-size: 50px;
  color: var(--color-black);
}

.section-header p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: #f2f2f2;
}

.header.sticked {
  height: 70px;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-primary);
}




/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 50px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-default-rgb), 1);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-default);
  }

 
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-white);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  display: none;
}


/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    padding: 0;
    z-index: 9997;
  }

  .navbar ul {
    display: none;
    position: absolute;
    inset: 55px 15px 15px 15px;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background-color: var(--color-white);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    color: var(--color-primary);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background: var(--color-white);
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 30px rgba(var(--color-black-rgb), 0.1);
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: inline-block;
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-toggle.bi-x {
    color: var(--color-black);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    color: var(--color-white);
  }

  .mobile-nav-active .navbar {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(var(--color-black-rgb), 0.6);
    transition: 0.3s;
  }

  .mobile-nav-active .navbar>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Index Page Content
--------------------------------------------------------------*/
#index-content-container {
  display: flex;
  padding: 1%;
  margin-right: 20px;
}

.article-slideshow {
  width: 60vw;
}

/*--------------------------------------------------------------
# Project Title - Subtitle: Animation
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.project-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  color: #555;
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 2.5rem;
  overflow: hidden;
  width: 40vw;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.project-tile span:nth-child(1){
  animation: slidein-left 10s;
}

.project-title span:nth-child(2) {
  animation: showup 10s, onoff 10s infinite;
  animation-delay: 0s, 9.75s;
  animation-timing-function: ease-in, ease-out;
}

.project-title span:nth-child(3) {
  animation: slidein-right 10s;
}
@keyframes onoff{
  0%{
color:transparent}
 80% {
  color:#7665ad;
 }
 100% {
  color:transparent;
 }

}

@keyframes showup {
  0% {
    opacity: 0;
    width:0;
    transform: translateX(-50%);

  }

  40% {
    opacity: 0;
    transform: translateX(0);
    width:inherit;

  }

  60% {
    opacity: 1;
    color:#7665ad;
  }

  100% {
    
    color:transparent;
  }
}

@keyframes slidein-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  
  
  60%{
    opacity:1;
    transform: translateX(0);
  }

 
 
}

@keyframes slidein-right {
  0% {
    opacity: 0
  }


  60% {
    opacity: 1
  }

  
}

.project-subtitle {
  height: 40vh;

}

.subtitle-wrapper {

  display: grid;
  place-items: center;
}

.subtitle {
  width: 29ch;
  background: inherit;
  animation: appear 8s, typing 10s steps(29) forwards, blink 0.5s step-end infinite alternate;
  animation-delay: 0s, 8s, 8s; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.125em solid;
  font-family: var(--font-primary);
  font-size: 1.25rem;
}

@keyframes appear {
  0% {
    color: transparent
  }

  100% {
    color: transparent
  }
}

@keyframes typing {
  from {
    width: 0;
  }
} 

@keyframes blink {
  50% {
    border-color: transparent
  }
}





/*--------------------------------------------------------------
# Article Slideshow
--------------------------------------------------------------*/
.img-bg {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

@media (max-width: 768px) {
  .img-bg {
    height: 400px;
  }
}

.img-bg:before {
  position: absolute;
  content: "";
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}

.img-bg .img-bg-inner {
  position: relative;
  z-index: 2;
  max-width: 700px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .img-bg .img-bg-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
}

.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
  color: var(--color-white);
}

@media (max-width: 500px) {
  .img-bg .img-bg-inner p {
    display: none;
  }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

@media (max-width: 768px) {

  .custom-swiper-button-next,
  .custom-swiper-button-prev {
    display: none;
  }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
  font-size: 20px;
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
  color: rgba(var(--color-white-rgb), 1);
}

.custom-swiper-button-next {
  right: 40px;
}

.custom-swiper-button-prev {
  left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgba(var(--color-white-rgb), 0.8);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(var(--color-white-rgb), 1);
}




/*--------------------------------------------------------------
# Article Content
--------------------------------------------------------------*/
.single-post-content .container .row .single-post {
  max-width: 70% !important;
  position: relative;
  height: 100vh !important;
  overflow-y: scroll;


}

.image-wrapper.article1-img1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.single-post-content .container .row .single-post img {
  max-width: 80% !important;

}

.single-post-content .container .row .aside-block-container {
  max-width: 30% !important
}


/*--------------------------------------------------------------
# Aside bar
--------------------------------------------------------------*/
.aside-title,
.category-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid var(--color-black);
}

.category-title {
  border-bottom: none;
}
.aside-block .custom-tab-nav .nav-item {
  display: inline-block;
  margin-right: 4%;

}

.aside-block .custom-tab-nav .nav-item button {
  color: var(--color-black);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.aside-block .custom-tab-nav .nav-item button.active {
  background-color: var(--color-black) !important;
  background-color: transparent !important;
  color: var(--color-black);
}

.aside-block .custom-tab-nav .nav-item .nav-link .aside-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
}

.aside-block.metadata .aside-tags {
  display: flex;
  flex-direction: column;
}

.aside-links li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
}

.aside-links li a {
  display: block;
  color: rgba(var(--color-black-rgb), 0.7);
}

.aside-links li a:hover,
.aside-links li a:focus {
  color: rgba(var(--color-black-rgb), 1);
}

.aside-tags li {
  display: inline-block;
}

.aside-tags li a {
  display: inline-block;
  color: rgba(var(--color-black-rgb), 0.7);
  padding: 7px 10px;
  border: 1px solid rgba(var(--color-black-rgb), 0.1);
  margin-bottom: 3px;
  transition: 0.3s all ease;
}

.aside-tags li a:hover,
.aside-tags li a:focus {
  color: rgba(var(--color-black-rgb), 1);
  border: 1px solid rgba(var(--color-black-rgb), 0.5);
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  overflow: hidden;
 
  font-size: 16px;
  color: rgba(var(--color-white-rgb), 0.7);
  margin-top:auto; 
  
}





.footer .footer-legal {
  color: var(--color-black);
  padding: 0.2rem 0;
}



.footer .copyright strong {
  font-weight: 400;
}
/*--------------------------------------------------------------
# Disclaimer
--------------------------------------------------------------*/
.copyright{
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  height:100%;
}

/*--------------------------------------------------------------
# Additional
--------------------------------------------------------------*/

.stylemenu {
  background-color: inherit;
  color: #fff;
  margin-top: 60px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.palette {
  border: 2px solid white;
  height: 3.125em;
  
}  
