/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    scroll-behavior: smooth;
  }

  body {
  font-family: 'Space Grotesk', Helvetica, sans-serif;
  background-color:#d1d4da;
  margin-top: 0px; 
  margin-bottom: 3em;
  padding-top: 0px;
  padding-left: 0px; 
  padding-right: 0px;
  font-size: 12pt;
  }
  
  a {
    color: #62505d;
    text-decoration: none;
  }
  
  a:hover {
    color: #7665ad;
    text-decoration: none;
  }

.mrd-2 {
  font-size: 36pt;
  font-family: 'Space Grotesk', Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #323339;
  text-align: right;

    
}

.mrd-1 {
    font-size: 9;
    font-family: 'Space Grotesk', Helvetica, sans-serif;
    font-weight: 50;
    text-transform: uppercase;
    color:#323339;
    text-align: right;
    

}




.blockquote {
font-size: 16pt;
text-align: left;
color: #7665ad;

}

.firstletter {
  float: left;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

img {
max-width: 100%;
filter: grayscale(100%);

}

/*--------------------------------------------------------------
# Stylemenu
--------------------------------------------------------------*/

nav.stylemenu {
background-color: #acb4ba;
margin-bottom: 50px;
padding-left: 50px; 
padding-right: 50px; 
font-family: 'Space Grotesk', sans-serif;

}

.stylemenu h4 {

  font-family: 'Space Grotesk', sans-serif;
  font-size: larger;
  text-align: center;
}
 
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #a6acb;
  }
  

  /*--------------------------------------------------------------
  # Grid
  --------------------------------------------------------------*/

 .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1px;
  padding: 0px;
  background-color: #ae9aca;

}

.grid-item {
  background-color: #d1d4da;
  padding: 10px;
  font-size: 8px;
  
}


.item1 {
  grid-column: 1;
  grid-row: 2;
}

.item2 {
  grid-row: 1;
}

.item3 {
  grid-column: 2;
  grid-row: 3;
}

.item4 {
  grid-column: 1;
  grid-row: 4;
}

.item5 {
  grid-column: 2;
  grid-row: 5;
}


.item6 {
  grid-column: 1;
  grid-row: 6;
}
  /*--------------------------------------------------------------
  # Desktop Navigation 
  --------------------------------------------------------------*/

   
    .navbar a, .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      transition: 0.3s;
      font-family: 'Space Grotesk', sans-serif;
      background-color: inherit;

      
    }

 /*--------------------------------------------------------------
# Custom Nav Tab on Sidebar
--------------------------------------------------------------*/
  
.aside-block {
    margin-bottom: 30px;
  }

  .aside-block .custom-tab-nav .nav-item {
    display: inline-block;
  }
  .aside-block .custom-tab-nav .nav-item button {
    color: var(--color-black);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
  }
  .aside-block .custom-tab-nav .nav-item button.active {
    background-color: var(--color-black) !important;
    background-color: transparent !important;
    color: var(--color-black);
  }
  
 

.aside-block-container .custom-tab-nav .nav-item .nav-link .aside-title{
  letter-spacing: 0.1rem;
  font-size: 14pt !important;
  font-family: 'Space Grotesk', sans-serif;
 
  
}

h3.aside-title{
  letter-spacing: 0.1rem;
  font-size: 14pt !important;
  font-family: 'Space Grotesk', sans-serif;
  
  
}
